/* You can add global styles to this file, and also import other style files */

body {
  background-color: #f2f2f2;
  /* margin: 30px 30px 30px 30px; */
}

.project-card {
  width: 400px;
  box-sizing: border-box;
  margin: 16px;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
}

.project-form {
  width: 100%;
}

.project-form > .full-width {
  width: 100%;
}

button.example-fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
}
